@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
    font-family: 'Noto Sans JP';
}

.mx-auto {
    display: block;
    margin: 0 auto; 
}

p .abc {
    color: red;
    background-color: orange;
}