<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">

    <title>おめでとう！|Cook-Gate</title>
</head>
<body>

    <header>

    </header>

    <main>
        <div class="col s12 m12 l12 center orange darken-1">
            <h1>Complete!!</h1>
            
                <!-- python連携。「〇〇さん、おめでとう」って表示してみたよ -->
                {% block content %}
                <div>
                    <h5>
                        おめでとう、{{user_info}} さん！！<br>
                    </h5>
                </div>
                {% endblock %}

            <h3>『{{user_course}}』<br>コースを修了しました</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <img src="../static/img/complete.png" alt="" class="responsive-img" style="display: block; margin: 0 auto;">

                </div>
            </div>

            <div class="row orange darken-1">
                <div class="col s12 m12 center">１．完成したお料理を写真に残しておきましょう</div>

                <div class="col s12 m12 center">SNSシェア<br>
                    <a href="https://twitter.com/intent/tweet?button_hashtag=Cookgate&ref_src=twsrc%5Etfw" 
                    class="twitter-hashtag-button" 
                    data-show-count="false"
                    data-text="お料理ができました！">
                        Tweetする #Cookgate
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>


                <!-- 写真アップロードボタン -->
                {% if user_id > 0 %}
                <p></p>
                <p class="center">２．お料理アルバムに出来上がりの写真を登録してみましょう</p>
    
                <!-- 画像ファイル登録・更新 -->
                <div class="center">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="name" value="{{course}}">
                    <input type="file" name="upload">
                    <input type="submit" name="img-btn" value="登録">
                    <br>
                    </form>
                    <br>
                </div>
            {% endif %}


                <!-- <div class="col s12 m12 center">SNSシェア<br>
                    <a href="https://twitter.com/intent/tweet?button_hashtag=CookGate&ref_src=twsrc%5Etfw" 
                    class="twitter-hashtag-button" 
                    data-show-count="false"
                    data-text="お料理ができました！">
                        Tweetする #Cookgate
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div> -->

            </div>
        </div>

        <!-- トップページに戻るリンク -->
        <div>
            <a href="/index">トップページへ</a><br>
        </div>

    </main>

    <footer>

    </footer>
    
</body>
</html>