{% extends "material/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link rel="stylesheet" href="../static/css/style.css">

        <title>cookgate|403</title>
</head>

<header>
        <div class="orange darken-1 white-text section center">
                <h2><span class="" style="font-family: 'Comic Sans MS';">cookgate</span></h2>
        </div>
</header>

<body>

    <div class="center grey lighten-3 section">

                <div class="row container">
                        <div class="input-field col s12">
                            <p>403 Forbidden</p>
                            <p>アクセスしようとしたページは表示できませんでした。</p>
                        </div>
                </div>


                <div class="col s12 center">
                    <a class="waves-effect waves-light btn orange darken-1" href="/index">トップページへ</a>
                </div>



        </div>
</body>

</html>

{% endblock %}