{% extends "material/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



    <link rel="stylesheet" href="../static/css/style.css">

    <title>cookgate</title>
</head>

<body>

    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <header>

        <nav class="nav-extended orange darken-1">
            <div class="nav-wrapper">
                <a href="/index" class="brand-logo" style="font-family: 'Comic Sans MS';">cookgate</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <!-- python連携：ユーザーネームとコース完了率を表示 -->
                    {% if user_id >= 1 %}
                    <!-- ログインユーザー情報 -->
                    <li>ようこそ、{{user_info}} さん。</li>
                    <li>コース完了率：{{user_status}}／{{course_num}}（{{user_rate}}％）</li>
                    <!-- 「ログアウト」から、ログアウトさせています（htmlファイルなし） -->
                    <li><a href="/logout">ログアウト</a></li>

                    {% else %}
                    <li>ようこそ、ゲストさん。</li>
                    <!-- 「新規登録」から、/registerへ遷移 ●-->
                    <li><a href="/regist">新規登録</a></li>
                    <!-- 「ログイン」から、/loginへ遷移（python連携なし） ●-->
                    <li><a href="/login">ログイン</a></li>
                    {% endif %}

                    <li><a href="collapsible.html">レベル</a></li>
                    <li><a href="collapsible.html">コース完了率</a></li>

                </ul>
            </div>

            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="" href="#howto">このサイトの使い方</a></li>
                    <li class="tab"><a href="#corse">準備とお料理コース</a></li>
                    <li class="tab"><a href="#dekita">できました写真</a></li>
                    <!-- <li class="tab disabled"><a href="#test4">Test 4</a></li> -->
                </ul>
            </div>

            <ul class="sidenav" id="mobile-demo">
                <!-- python連携：ユーザーネームとコース完了率を表示 -->
                {% if user_id >= 1 %}
                <!-- ログインユーザー情報 -->
                <li style="color: #555;">ようこそ、{{user_info}} さん。</li>
                <li style="color: #555;">コース完了率：{{user_status}}／{{course_num}}（{{user_rate}}％）</li>
                <!-- 「ログアウト」から、ログアウトさせています（htmlファイルなし） -->
                <li><a href="/logout">ログアウト</a></li>

                {% else %}
                <li style="color: #555;">ようこそ、ゲストさん。</li>
                <!-- 「新規登録」から、/registerへ遷移 ●-->
                <li><a href="/regist">新規登録</a></li>
                <!-- 「ログイン」から、/loginへ遷移（python連携なし） ●-->
                <li><a href="/login">ログイン</a></li>
                {% endif %}
            </ul>
        </nav>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
            });
        </script>

        <!-- <div id="test1" class="col s12">Test 1</div> 
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div> -->

    </header>

    <main>
        <img class="responsive-img" src="../static/img/toppage/T1 curry.png" style="margin: 0 auto;  width: 100%;">

        <div class="">
            <div class="row">
                <div class="col s12 grey lighten-3">
                    <h2 class="container center hide-on-med-and-down" style="padding: 30px 0;">料理ムリ→→→初心者へ</h2>
                </div>
                <div class="col s4 grey lighten-3">
                    <h4>料理ムリ</h4>
                </div>
                <div class="col s4 grey lighten-3">
                    <h4>→→→</h4>
                </div>
                <div class="col s4 grey lighten-3">
                    <h4>初心者へ</h4>
                </div>

                <div class="col s12">
                    <p class="center-align">包丁を持ったことがない。</p>
                    <p class="center-align">簡単なレシピではじめたけれど、調味料選びで挫折した。</p>
                    <p class="center-align">いざ焼こうとしたらフライパンがなかった。</p>
                    <p class="center-align"><br></p>
                    <p class="center-align">お料理だって環境構築からはじまる。</p>
                    <p class="center-align"><br></p>
                    <p class="center-align">cookgateは、お料理超ビギナーのあなたを応援するお料理入門サイトです</p>
                </div>

                <!-- python連携 -->
                <!-- 未ログインの時だけ、「新規登録」ボタンを表示する -->
                {% if user_id >= 1 %}
                {% else %}
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn orange darken-1" href="/regist">新規登録</a>
                </div>
                {% endif %}
            </div>


            <div class="section center orange darken-1">
                <h2 id="howto">このサイトの使い方</h2>
            </div>
            <div class="container section">
                <div class="row center">
                    <div class="col s4">
                        <i class="large material-icons">access_time</i>
                        <p class="center">
                            時間がなくても大丈夫
                        </p>
                        <p class="light center">
                            できるところから、ステップバイステップで応援します！レベルアップ機能は会員機能です。ぜひ会員登録して使ってください！じっくりすすめたいあなたは、調理道具や調味料のコースがあります。
                        </p>
                    </div>
                    <div class="col s4">
                        <i class="large material-icons">child_care</i>
                        <p class="center">
                            はじめてでもおいしい！の体験
                        </p>
                        <p class="light center">
                            失敗しないコツをたくさん紹介しています！レシピの例はこの下のお料理コースから！いろいろなコースをつかってレベルアップしよう！
                        </p>
                    </div>
                    <div class="col s4">
                        <i class="large material-icons">autorenew</i>
                        <p class="center">
                            もう困らないコラムでお料理に詳しくなる
                        </p>
                        <p class="light center">
                            お料理でレベルアップしながらコラムも読もう。使い回しレシピも紹介してるから、種類が豊富。繰り返し作っても飽きません。料理の成功体験ができたら、他のレシピサイトにいってみよう。
                        </p>
                    </div>

                </div>
            </div>

            <div class="section center orange darken-1">
                <h2 id="corse">お料理コース</h2>
            </div>
            <div class="container">

                <!-- =============================================== -->
                <div class="row">
                    <div class="col s12 m12">
                        <h3 class="orange darken-1 center">豚のしょうが焼き</h3>
                    </div>
                    <div class="col s12 m12">
                        <span class="green ligten-4">包丁なし</span>
                        <div class="col s12 m6">

                            <img src="../static/img/toppage/T2 syougayaki.jpg" alt="" class="responsive-img">

                        </div>
                        <div class="col s12 m6">
                            <p>一番最初に作るものが、一番おいしいことを目指します！<br>
                                調理器具購入ナビゲートから出来上がりまで、丁寧にステップアップして「いただきます！」</p>
                            <p>
                                ・調理器具<br>
                                包丁、まな板、菜箸、箸、お皿、キッチンペーパー、計量カップ、計量スプーン、スポンジ、台所用洗剤、フライパン<br>
                                ・材料<br>
                                豚肉、醤油、砂糖、生姜チューブ、酒、キャベツの千切りパック
                            </p>
                        </div>
                        <div class="col s12 m12">

                            <!-- python連携。このリンクをクリックすると、DBのcourse_statusテーブルに反映されます。 -->
                            <form action="/course" method="POST" class="center">
                                <!-- 豚肉生姜焼き：コース「1」 -->
                                <input type="hidden" name="name" value="1">
                                <input type="submit" name="pork" value="豚のしょうが焼きを作る"
                                    class="btn-large btn-flat orange darken-1">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- =============================================== -->
                <div class="row">
                    <div class="col s12 m12">
                        <h3 class="orange darken-1 center">乾燥わかめとねぎの味噌汁</h3>
                    </div>
                    <div class="col s12 m12">
                        <span class="orange ligten-4">10分以内</span>
                        <span class="green ligten-4">包丁なし</span>
                        <span class="yellow ligten-4">ガスコンロなし</span>

                        <div class="col s12 m6">
                            <img src="../static/img/toppage/T3misosoup.jpg" alt="" class="responsive-img">

                        </div>
                        <div class="col s12 m6">
                            <p>野菜を余らせたら冷蔵庫でしなびていくだけ。そんな心配をしなくてもいい食材として、乾物があります。乾燥わかめは水で戻すとサラダにだって使えます。好みの野菜と合わせて味噌汁を作りましょう。
                            </p>
                            <p>
                                ・調理器具<br>
                                包丁、まな板、菜箸、箸、お皿、キッチンペーパー、計量カップ、計量スプーン、スポンジ、台所用洗剤、小鍋（直径16～18cm片手鍋）<br>
                                ・材料<br>
                                乾燥わかめ、ネギ（または好みの野菜）、だし入りみそ
                            </p>
                        </div>

                        <div class="col s12 m12">

                            <!-- python連携。このリンクをクリックすると、DBのcourse_statusテーブルに反映されます。 -->
                            <form action="/course" method="POST" class="center">
                                <!-- わかめ＆ネギのお味噌汁：コース「2」 -->
                                <input type="hidden" name="name" value="2">
                                <input type="submit" name="soup" value="乾燥わかめとねぎのお味噌汁を作る"
                                    class="btn-large btn-flat orange darken-1">
                            </form>
                        </div>
                    </div>
                    <!-- =============================================== -->
                    <class="row">
                        <div class="col s12 m12">
                            <h3 class="orange darken-1 center">好みのお肉とカット野菜のカレーライス</h3>
                        </div>
                        <div class="col s12 m12">

                            <!-- <span class="orange ligten-4">10分以内</span> -->
                            <!-- <span class="green ligten-4">包丁なし</span> -->
                            <!-- <span class="yellow ligten-4">ガスコンロなし</span> -->

                            <div class="col s12 m6">
                                <img src="../static/img/toppage/T4curry.jpg" alt="" class="responsive-img">

                            </div>
                            <div class="col s12 m6">
                                <p>レトルトカレーはおいしいけれど、具が溶け込んでいて物足りない。たまにはお肉ゴロゴロカレーが食べたい。自分で作れば叶います。野菜はカレー用のカット野菜を使用ですぐできる！
                                </p>
                                <p>
                                    ・調理器具<br>
                                    包丁、まな板、菜箸、箸、お皿、キッチンペーパー、計量カップ、計量スプーン、スポンジ、台所用洗剤、小鍋（直径16～18cm片手鍋）<br>
                                    ・材料<br>
                                    好みのお肉250ｇ、カレー用カット野菜パック（ジャガイモ1個、玉ねぎ1個、、ニンジン1/2でもよい）カレールー
                                </p>
                            </div>
                            <div class="col s12 m12">

                                <!-- python連携。このリンクをクリックすると、DBのcourse_statusテーブルに反映されます。 -->
                                <form action="/course" method="POST" class="center">
                                    <!-- 豚肉生姜焼き：コース「1」 -->
                                    <!-- わかめと長ネギのお味噌汁：コース「2」 -->
                                    <input type="hidden" name="name" value="3">
                                    <input type="submit" name="soup" value="好みのお肉とカット野菜のカレーライスを作る"
                                        class="btn-large btn-flat orange darken-1">
                                </form>
                            </div>
                        </div>
                        <!-- =============================================== -->
                        <div class="row">
                            <div class="col s12 m12">
                                <h3 class="orange darken-1 center">レトルト調味料の青椒肉絲</h3>
                            </div>
                            <div class="col s12 m12">

                                <!-- <span class="orange ligten-4">10分以内</span> -->
                                <!-- <span class="green ligten-4">包丁なし</span> -->
                                <!-- <span class="yellow ligten-4">ガスコンロなし</span> -->

                                <div class="col s12 m6">
                                    <img src="../static/img/toppage/T5 tinnjyaorosu .jpg" alt="" class="responsive-img">

                                </div>
                                <div class="col s12 m6">
                                    <p>
                                        包丁を使い慣れてきたら挑戦したい千切り。自分の食事なら太さのばらつきは気にせずに。たっぷりピーマンとたっぷりお肉の細切りで、市販のレトルト合わせ調味料で簡単に仕上げます。
                                    </p>
                                    <p>
                                        ・調理器具
                                        包丁、まな板、菜箸、箸、お皿、キッチンペーパー、計量カップ、計量スプーン、スポンジ、台所用洗剤、フライパン
                                        ・材料
                                        牛肉切り落とし150ｇ（または3ｍｍ厚さの豚薄切り150ｇ）、ピーマン3個、青椒肉絲のレトルト調味料
                                    </p>
                                </div>
                                <div class="col s12 m12">

                                    <!-- python連携。このリンクをクリックすると、DBのcourse_statusテーブルに反映されます。 -->
                                    <form action="/course" method="POST" class="center">
                                        <!-- 豚肉生姜焼き：コース「1」 -->
                                        <!-- わかめと長ネギのお味噌汁：コース「2」 -->
                                        <input type="hidden" name="name" value="4">
                                        <input type="submit" name="soup" value="レトルト調味料の青椒肉絲を作る"
                                            class="btn-large btn-flat orange darken-1">
                                    </form>
                                </div>
                            </div>
                            <!-- =============================================== -->
                        </div>
                </div>
            </div>
            <div class="section center orange darken-1">
                <h2 id="">応用のきくレシピ</h2>
            </div>
            <div class="container">

                <!-- =============================================== -->
                <div class="row">
                    <div class="col s12 m12">
                        <h3 class="orange darken-1 center">牛丼（次の日の肉豆腐）</h3>
                    </div>

                    <div class="col s12 m6">
                        <img src="../static/img/toppage/T6 gyudon .jpg" alt="" class="responsive-img">

                    </div>
                    <div class="col s12 m6">
                        <p>
                            一回にたくさん作って2食に分けて食べる。2回目はアレンジして別のメニューとして食べる。お料理を続けているとそんなワザも使えるようになります。牛丼の具は簡単に作れて、アレンジも効きやすいメニューです。
                        </p>
                        <p>
                            ・調理器具
                            包丁、まな板、菜箸、箸、お皿、キッチンペーパー、計量カップ、計量スプーン、スポンジ、台所用洗剤、小鍋16cm、18cm（なければフライパン）
                            ・材料
                            牛肉切り落とし300ｇ、玉ねぎ小1個、醤油、砂糖、酒、しょうがチューブ、あればカツオぶしパック（次の日のための豆腐、しいたけ、マロニーちゃん）
                        </p>
                    </div>
                    <div class="col s12 m12">

                        <!-- python連携。このリンクをクリックすると、DBのcourse_statusテーブルに反映されます。 -->
                        <form action="/course" method="POST" class="center">
                            <!-- 豚肉生姜焼き：コース「1」 -->
                            <input type="hidden" name="name" value="5">
                            <input type="submit" name="pork" value="牛丼（次の日の肉豆腐）を作る"
                                class="btn-large btn-flat orange darken-1">
                        </form>

                    </div>
                </div>
            </div>



            <div class="section center orange darken-1">
                <h2>もう困らないコラム</h2>
            </div>
            <div class="row section">
                <div class="col s5 m5">
                    <!-- <span class=""> -->
                    <img class="responsive-img" src="../static/img/kome_character.png">
                    <!-- </span> -->
                </div>

                <div class="col s7 m7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12 m12">
                                <span class="flow-text">
                                    もちろん　ごはんのパックをチンでいいのです。だけど、お米を炊けたら嬉しいかも。ごはんが保存できたら節約かも。案外かんたんにごはんは炊けます。
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large orange darken-1">もう困らないコラム　お米に飛ぶ</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="row section">
                <div class="col s12 m5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/food_zanpan.png">
                    </span>
                </div>

                <div class="col s12 m7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    食べ残しや、半端な食材、放置しておけないからお料理から遠ざかる。残したときはどうするか、それさえ覚えておけば、もう二の足は踏まなくていいのです。
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a
                                        class="waves-effect waves-light btn-large orange darken-1">もう困らないコラム　食材や調味料の処分に飛ぶ</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="section center orange darken-1">
                <h2 id="#">お料理のあしあと</h2>
            </div>



            <!-- 写真、お料理名、完了日時を表示させます。 -->

            <div class="container">
                <h4 class="center">あなたのステータス </h4>
                {% if user_status == "-" %}
                （ユーザーのみの機能です。）
                {% elif user_status == 0 %}
                <p class="center">まだどのお料理も作っていません。</p>

                {% else %}
                {% endif %}

                {% if user_status == "-" %}
                {% elif user_status >= 0 %}
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>お料理コース名</th>
                            <th>完了日時</th><br>
                        </tr>
                    </thead>
                    <tbody>

                        {% for item in user_list %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}

            </div>




            <div>
                <!-- 画像ファイル表示 -->
                {% for item in photo_list %}
                <p>{{item[1]}}<br>
                    <img src="/static/user_img/{{item[0]}}" height="150px" alt="test"></p>
                {% endfor %}
            </div>



            <div class="container">

                <!-- python連携させてみるテスト。 -->
                <!-- 写真のサイズがCSS側で制限されているようだ。 -->
                {% for item in photo_list %}
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/user_img/{{item[0]}}" height="200px">
                            </div>
                            <div class="card-content">
                                <p>{{item[1]}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">豚肉生姜焼き</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of
                                        information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">サラダチキンのバンバンジー</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of
                                        information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">乾燥わかめとねぎの味噌汁</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of
                                        information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../static/img/don.jpg">
                                        <span class="card-title">豚肉生姜焼き</span>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of
                                            information.
                                            I am convenient because I require little markup to use effectively.
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../static/img/don.jpg">
                                        <span class="card-title">サラダチキンのバンバンジー</span>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of
                                            information.
                                            I am convenient because I require little markup to use effectively.
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../static/img/don.jpg">
                                        <span class="card-title">乾燥わかめとねぎの味噌汁</span>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of
                                            information.
                                            I am convenient because I require little markup to use effectively.
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


    </main>

    <footer class="page-footer orange darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">お料理に慣れてきたら</h5>
                    <p class="grey-text text-lighten-4">他のレシピサイトに行ってみましょう！</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://cookpad.com/">Cookpad</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://cookien.com/">つくおき</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://www.nasluck-kitchen.jp/useful/01/beginner/">【ナスラックキッチン】はじめてさんの料理の基本｜料理・レシピ検索サイト</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="https://www.kurashiru.com/">kurashiru</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Team TADO @ SUNABACO
                <a class="grey-text text-lighten-4 right" href="#!">About us</a>
            </div>
        </div>
    </footer>




</body>

</html>


{% endblock %}