{% extends "material/base.html" %}
{% block content %}

{% endblock %}



<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">

    <title>Cook-Gate</title>
</head>

<body>

    <header>

        <nav class="nav-extended amber darken-2">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Cook-Gate</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- 「新規登録」から、/registerへ遷移させています（python連携なし） -->
                    <li><a href="regist.html">新規登録</a></li>
                     <!-- 「ログイン」から、/loginへ遷移させています（python連携なし） -->
                    <li><a href="login.html">ログイン</a></li>
                    <li><a href="collapsible.html">レベル</a></li>
                    <li><a href="collapsible.html">コンプ！</a></li>
                </ul>
            </div>

            <div>
                <!-- python連携：ユーザーネームとコース完了率を表示 -->
                {% block content %}
                <div>
                    <p>
                        ようこそ、{{user_info[1]}} さん。コース完了率：{{user_status}}／1（{{user_rate}}％）<br>
                    </p>
                </div>
                {% endblock %}
            </div>
            
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active" href="#howtosite">このサイトの使い方</a></li>
                    <li class="tab"><a href="#corse">準備とお料理コース</a></li>
                    <li class="tab"><a href="#test3">できました写真</a></li>
                    <!--                    <li class="tab disabled"><a href="#test4">Test 4</a></li>-->
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">このサイトの使い方</a></li>
            <li><a href="#">準備とお料理コース</a></li>
            <li><a href="#">できました写真</a></li>
        </ul>

        <!-- <div id="test1" class="col s12">Test 1</div> -->
        <!-- <div id="test2" class="col s12">Test 2</div> -->
        <!-- <div id="test3" class="col s12">Test 3</div> -->
        <!-- <div id="test4" class="col s12">Test 4</div> -->

    </header>

    <main>
        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">

        <div class="">
            <div class="row section">
                <div class="col s12 grey lighten-3">
                    <h2>お料理ムリ！なあなたのためのお料理スタート応援サイトです</h2>
                </div>
                <div class="col s12">
                    <p class="center-align">包丁を持ったことがない。</p>
                    <p class="center-align">簡単なレシピではじめたけれど、調味料選びで挫折した。</p>
                    <p class="center-align">いざ焼こうとしたらフライパンがなかった。</p>
                    <p class="center-align"><br></p>
                    <p class="center-align">お料理だって環境構築からはじまる。</p>
                    <p class="center-align"><br></p>
                    <p class="center-align">COOK*GATEはお料理超ビギナーのあなたを応援するお料理入門サイトです</p>
                </div>
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn amber darken-2" href="#">新規登録</a>
                </div>
            </div>


            <div class="section center amber darken-2">
                <h2 id="howtosite">このサイトの使い方</h2>
            </div>

            <div class="row section">
                <div class="col s5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>

                                    <!-- python連携。このリンクをクリックすると、DBのcourse_porkテーブルに反映されます。 -->
                                    <form action="/clk-pork" method="POST">
                                        <input type="submit" name="pork_btn" value="豚肉生姜焼きを作る">
                                    </form>

                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="row section">
                <div class="col s5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="row section">
                <div class="col s5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="row section">
                <div class="col s5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>


            <div>
                <h2 id="corse" class="amber section center">お料理コース</h2>
            
                <div class="container">

                <div class="row section">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content amber darken-2">
                                <span class="center card-title activator grey-text text-darken-4">
                                    豚肉生姜焼き
                                    <!-- <i class="material-icons right">more_vert</i> -->
                                </span>
                                <!-- <p><a href="#">This is a link</a></p> -->
                            </div>
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../static/img/don.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        
                            <div class="grey lighten-3 section">一番最初</div>
                            <p>調理器具</p>
                        </div>
                    </div>



                
            <!-- </div> -->

            <div class="row">
                <div class="col s12 m6 amber">
                    <h3 class="center">豚の生姜焼き</h3>
                </div>
                <div class="col s12 m6 grey lighten-3">
                    一番最初<br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col m6">
                    <img class="responsive-img" src="../static/img/don.jpg" alt="">
                </div>

                <div class="col m6">
                    <p>調理道具</p>
                    <ul>
                        <li>包丁</li>
                        <li>まな板</li>
                        <li>包丁</li>
                        <li>まな板</li>
                        <li>包丁</li>
                        <li>まな板</li>
                        <li>包丁</li>
                        <li>まな板</li>
                        <li>包丁</li>
                        <li>まな板</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

 
            <div class="section center amber darken-2">
                <h2>もう困らないコラム</h2>
            </div>
            <div class="row section">
                <div class="col s5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="row section">
                <div class="col s12 m5">
                    <span class="flow-text">
                        <img class="responsive-img" src="../static/img/mainvisual.jpg,quality=70,type=jpg">
                    </span>
                </div>

                <div class="col s12 m7">
                    <span class="flow-text">
                        <div class="row">
                            <div class="col s12">
                                <span class="flow-text">
                                    包丁も鍋もありません。とにかく何かをつくってみたい。そんなあなたは
                                </span>
                            </div>
                            <div class="col s6 offset-s6">
                                <span class="flow-text">
                                    <a class="waves-effect waves-light btn-large amber darken-2">豚肉生姜焼きコース</a>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="section center amber darken-2">
                <h2 id="#">できました！お料理アルバム</h2>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/img/don.jpg">
                                <span class="card-title">豚肉生姜焼き</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/img/don.jpg">
                                <span class="card-title">サラダチキンのバンバンジー</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/img/don.jpg">
                                <span class="card-title">乾燥わかめとねぎの味噌汁</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">豚肉生姜焼き</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">サラダチキンのバンバンジー</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../static/img/don.jpg">
                                    <span class="card-title">乾燥わかめとねぎの味噌汁</span>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


    </main>

    <footer class="page-footer amber darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


</body>

</html>


