{% extends "material/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>豚の生姜焼き|Cook-Gate</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper amber darken-2">
                <a href="/index" class="brand-logo" style="font-family: 'Comic Sans MS';">cookgate</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/index#howtosite">このサイトの使い方</a></li>
                    <li><a href="#">準備とお料理コース</a></li>
                    <li><a href="#">できました写真</a></li>
                    <li>コース完了率：{{user_status}}／{{course_num}}（{{user_rate}}％）</li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="section center grey lighten-3">
            <h3>
                <span class="">調理道具買い物ナビ付<br>
                    最初のお料理<br></span>
            </h3>
            <h2>
                豚のしょうが焼き<br>コンビニキャベツ添え
            </h2>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/pork/P1pork2.jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                豚のしょうが焼きは4つの調味料 各大さじ1づつでできます。<br>
                下のチェックで道具を確かめます。
            </div>
        </div>

      
      





        <div class="section center amber-text text-darken-3">
            <h3>熱源</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                フライパン購入前に確認 （ガス専用フライパンはIHには使えません）        
            </div>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/pork/P3ih.jpg" alt="">
                <p class="center">IH</p>
            </div>

            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/pork/P4gas.jpg" alt="">
                <p class="center">ガス</p>
            </div>

        </div>

        <div class="section center amber-text text-darken-3">
            <h3>調理器具</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P5pan.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                直径24cmのフライパン（テフロン加工等）
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>調理器具・小物</h3>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/pork/P2hasami .jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                キッチンばさみ、お皿、キッチンペーパー、箸、菜箸、計量スプーン、スポンジ、洗剤
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <img src="../static/img/pork/P6paperplate.jpg" alt="" class="responsive-img">
                <p>紙皿22cm</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/pork/P7measurringspoon.jpg" alt="" class="responsive-img">
                <p>大さじ・小さじ・1/2小さじのセット</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/pork/P8sponge.jpg" alt="" class="responsive-img">
                <p>スポンジと洗剤。</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                洗わなくてもいい紙皿、お皿にラップを張ってお料理を盛るなど、食器洗いの負担をへらします。ふきんもキッチンペーパーで代用、汚れはすぐにふき取ってごみ箱へ捨てます。食事の箸は油はねでやけどするので菜箸も用意します。計量スプーンはスーパーにも100円ショップにもあります。フライパンやハサミなどを洗うためのスポンジと洗剤を用意します。
            </div>
        </div>

          <!-- できましたのチェックボタン -->

        <form action="#" class="center">
            <p>
                <label>
                    <input type="checkbox" />
                    <span>できました</span>
                </label>
            </p>
        </form>




        <div class="section center amber-text text-darken-3">
            <h3>調味料</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                ここでは調味料のそれぞれにコンビニ購入可能で一般的なアイテムを例に示しました。スーパーマーケットで量の多いものを選ぶとお得になったり、100円ショップでも購入可能なアイテムがあります。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P9syouyu.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                醤油<br><br>

                丸大豆醤油か濃口醤油500ml（200円程度）
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P10sugar.png" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                砂糖<br><br>

                1ｋｇ（250円程度）ジップロックコンテナスクリュー等
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P11oil  .png" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                サラダ油<br><br>

                サラダ油かキャノーラ油（1000ml　300円程度）
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P12syouga.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                チューブしょうが<br><br>

                チューブ（40ｇ）100円前後
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P13sake.png" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                酒（日本酒）<br><br>

                180ml前後の量 200円程度
            </div>
        </div>




        <div class="section center amber-text text-darken-3">
            <h3>食材</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P14niku.kyabetsu (2).png" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                豚肉薄切り（または豚肉こま切れ）<br>
                <br>
                豚肉は薄切り200ｇで300円程度、こま切れなら200ｇ250円程度<br>
                （コンビニで生鮮パックや冷凍で買う場合は少し金額が上がります）<br>
                <br>
                千切りキャベツパックとマヨネーズ（好みで）<br><br>
                100円前後
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>下ごしらえ・調理</h3>
        </div>

        <div class="section center ">
            <h4>合わせ調味料を合わせて15分お肉を漬けます</h4>
        </div>


        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P15oosaji.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                <ul>
                    <li>醤油：大さじ1</li>
                    <li>砂糖：大さじ1</li>
                    <li>酒：大さじ1</li>
                    <li>チューブ生姜：大さじ1</li>
                </ul>

                <ul>
                    <li>お皿やボウル、コップの中で合わせ調味料をすべて混ぜる。</li>
                    <li>お皿の中で、お肉に混ぜた合わせ調味料をつける。</li>
                    <li>お肉の全体に合わせ調味料いきわたるように入れ物の中でお肉を上下にかえしたり、くっついているお肉同士をはがして混ぜる。</li>
                    <li>15分くらいつけておきます。</li>
                </ul>

            </div>
        </div>

        <div class="section center ">
            <h4>フライパンを中火にかけてお肉を焼く</h4>
        </div>


        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P16nikuyaki .png" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                <ul>
                    <li>フライパン</li>
                    <li>サラダ油：大さじ1</li>
                </ul>

                <ul>
                    <li>キッチンペーパー濡らし拭き掃除用に置く。</li>
                    <li>フライパンにサラダ油大さじ1入れを中火にかける。（ガスは写真を参考に中火に、ＩＨは１８０℃に設定。）</li>
                    <li>フライパンが温まったら（火をつけて1分程度）お肉を投入し、お肉を焼く。
                    </li>
                    <li>全体に焼き色がついたら火をとめる。（写真を参照）
                    </li>
                    <li>暖かいうちに飛び跳ねた油や汁等を拭く。</li>
                </ul>


            </div>
        </div>


        

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/pork/P17pork3.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                お皿に千切りキャベツを盛り付け、焼きあがったお肉を寄り添わせるように盛る。キャベツにマヨネーズ（分量外）を添えて、完成です！
            </div>
        </div>

    

        <!-- python連携。作れたボタンを押すと、Complete.htmlへ画面遷移します -->
        <form action="/complete" method="POST" class="center">
            <label>
                <!-- python連携。作れたボタンを押すと、DBのcourse_statusに反映されます -->
                <!-- name=name固定、valueはコースに合わせて値を変える -->
                <input type="hidden" name="name" value="1">
                <input type="submit" value="豚肉生姜焼きを作れた！！" / class="btn-large amber darken-2">
            </label>
        </form>


    </main>

    <footer class="page-footer amber darken-2">
        <!-- <div class="container"> -->
        <!-- <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">TOPへ戻る</a>
            </div>
        </div>
    </footer>


</body>

</html>
{% endblock %}
