<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>豚の生姜焼き|Cook-Gate</title>
</head>

<body>
    <header>

    </header>

    <main>

        <div class="section center grey lighten-3">
            <h3><span class="">調理道具買い物ナビ付<br>最初のお料理<br></span></h3>
            <h2>
                豚の生姜焼き<br>コンビニキャベツ添え
            </h2>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>三徳包丁とまな板を用意しましょう</h3>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ
            </div>
        </div>

        <!-- できましたのチェックボタン -->

        <form action="#" class="center">
            <p>
              <label>
                <input type="checkbox" />
                <span>できました</span>
              </label>
            </p>
        </form>




        <div class="section center amber-text text-darken-3">
            <h3>キッチンの熱源を確かめましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                300文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
            </div>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
                <p class="center">IH</p>
            </div>

            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
                <p class="center">ガス</p>
            </div>

        </div>

        <div class="section center amber-text text-darken-3">
            <h3>調理道具を用意しましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <p class="grey lighten-3">300文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
                </p>
                </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>あああ</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>あああ</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>あああ</p>
            </div>
        </div>



        <div class="section center amber-text text-darken-3">
            <h3>調味料を用意しましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                300文字この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>買い物にいきましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>料理をしましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
            </div>
        </div>
            
        
        <div class="section center amber-text text-darken-3">
            <h3>盛り付けして食べましょう</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
            </div>
        </div>

        <img src="img/mainvisual.jpg,quality=70,type=jpg" alt="" class="responsive-img">

        <!-- python連携。作れたボタンを押すと、Complete.htmlへ画面遷移します -->
        <form action="/complete" method="POST" class="center">
            <p>
              <label>
                <input type="checkbox" />
                <span>できました</span>
                <br>
                <!-- python連携。作れたボタンを押すと、DBのcourse_statusに反映されます -->
                <!-- name=name固定、valueはコースに合わせて値を変える -->
                <input type="hidden" name="name" value="1">
                <input type="submit" value="豚肉生姜焼きを作れた！！" />
              </label>
            </p>
        </form>
            

    </main>

    <footer>

    </footer>
    

</body>
</html>