{% extends "material/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>豚の生姜焼き|Cook-Gate</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper amber darken-2">
                <a href="/index" class="brand-logo" style="font-family: 'Comic Sans MS';">cookgate</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/index#howtosite">このサイトの使い方</a></li>
                    <li><a href="#">準備とお料理コース</a></li>
                    <li><a href="#">できました写真</a></li>
                    <li>コース完了率：{{user_status}}／{{course_num}}（{{user_rate}}％）</li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="section center grey lighten-3">
            <h3><span class="">調理道具買い物ナビ付<br>最初のお料理<br></span></h3>
            <h2>
                豚の生姜焼き<br>コンビニキャベツ添え
            </h2>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                豚のしょうが焼きは基本の調味料でできます。下のチェックで道具をお手持ちの時はそのままチェックして先に進みます。
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>お肉が長いときのために、キッチンバサミを用意します。</h3>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
            </div>

            <div class="col s12 m6 text-align">
                キッチンばさみは110円ショップで買えます。
            </div>
        </div>

        <!-- できましたのチェックボタン -->

        <form action="#" class="center">
            <p>
                <label>
                    <input type="checkbox" />
                    <span>できました</span>
                </label>
            </p>
        </form>




        <div class="section center amber-text text-darken-3">
            <h3>キッチンの熱源を確かめます。</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                キッチンの熱源がIHの場合、ガス専用のフライパンや鍋が使えません。IH・ガス共用のフライパンや鍋はどちらでも使えます。この点に注意してフライパン購入を。
            </div>
        </div>

        <div class="row section">
            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
                <p class="center">IH</p>
            </div>

            <div class="col s12 m6">
                <img class="responsive-img" src="../static/img/don.jpg" alt="">
                <p class="center">ガス</p>
            </div>

        </div>

        <div class="section center amber-text text-darken-3">
            <h3>フライパン直径24ｃｍを用意します。</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                キッチンの熱源に、使用可能なフライパンを購入します。大きさは直径24cmで一通りのお料理ができます。大きいと、食材の乗っていない部分が焦げやすく、小さいとあふれます。
                テフロン加工、ダイヤモンドコーティング、フッ素加工、といったコーティング剤で覆った、焦げ付きにくいタイプがおすすめです。
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>お皿とキッチンペーパー、箸と菜箸、計量スプーン、スポンジと洗剤を用意します。</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                洗わなくてもいい紙皿、お皿にラップを張ってお料理を盛るなど、食器洗いの負担をへらします。ふきんもキッチンペーパーで代用、汚れはすぐにふき取ってごみ箱へ。食事の箸は油はねでやけどするので菜箸も用意します。計量スプーンはスーパーにも百円ショップにもあります。フライパンやハサミなどを洗うためのスポンジと洗剤を用意します。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>紙皿も、キッチンペーパーも捨てるだけ。お箸のほかに菜箸も忘れずに。</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>計量スプーンは大さじ・小さじがセットになっています。大さじ・小さじ・1/2小さじがセットのものでもいいです。</p>
            </div>

            <div class="col s12 m4">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
                <p>スポンジと洗剤も用意。</p>
            </div>
        </div>



        <div class="section center amber-text text-darken-3">
            <h3>醤油(200ml以上）・砂糖と密閉容器、　食用油(キャノーラ油で良い）・しょうがチューブ
                酒（日本酒、ワンカップか300ml紙パック）</h3>
        </div>

        <div class="row">
            <div class="col s12 m12">
                ここでは調味料のそれぞれにコンビニ購入可能で一般的なアイテムを例に示しました。スーパーマーケットで量の多いものを選ぶとお得になったり、100円ショップでも購入可能なアイテムがあります。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                醤油

                丸大豆醤油か濃口醤油500ml（200円程度）を買いましょう。長く保存していると、味が変わります。このくらいの小さめのボトルを試しに買ってみましょう。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                砂糖

                砂糖は1Kg入り（250円程度）が一般的ですが、使い切る予定がなければ少ない量のほうがいいでしょう。500ｇ以下入りの袋​はスーパーマーケットのほか100円ショップ、コンビニにあります。こぼすとべたべたするので、保存容器に保存。ジップロックコンテナスクリューか、100円ショップでも似たものを購入します。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                サラダ油

                サラダ油、と表記があるものより、キャノーラ油と表記してあるもののほうが多く流通しています。キャノーラ油はサラダ油の一種です。500mlくらいの大きさで300円前後（1000mlもほぼ同額）で買えます。スーパーかコンビニで買います。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                チューブしょうが

                すりおろしたしょうがのチューブ入り（40ｇ）を購入しましょう。100円前後で購入できます。スーパー、コンビニ、100円ショップで。
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                酒（日本酒）

                180mlのカップ入りか紙パック入りの日本酒を買います。
            </div>
        </div>




        <div class="section center amber-text text-darken-3">
            <h3>豚肉薄切り200ｇと千切りキャベツパックを買います。</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                豚肉薄切り（またたは豚肉こま切れ）

                豚肉は薄切り200ｇなら300円程度、こま切れなら200ｇ250円程度、スーパーマーケットで買えます。コンビニで生鮮パックや冷凍で買う場合は少し金額が上がります。
                薄切り肉はキッチンバサミで三等分にカット、こま切れ肉はそのまま焼きます。

                千切りキャベツパック
                スーパーでもコンビニでも100円前後で購入できます。
            </div>
        </div>

        <div class="section center amber-text text-darken-3">
            <h3>調味料を合わせて、豚肉を焼きます</h3>
        </div>

        <div class="section center ">
            <h4>合わせ調味料を合わせてお肉を漬けます</h4>
        </div>


        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                醤油：大さじ1
                砂糖：大さじ1
                酒：大さじ1
                チューブ生姜：大さじ1


                ①お皿やボウルの中で合わせ調味料をすべて混ぜる。②混ぜた合わせ調味料にお肉をつける。③お肉の全体に合わせ調味料いきわたるように入れ物の中でお肉を上下にかえしたり、くっついているお肉同士をはがして混ぜます。④15分くらいつけておきます。
            </div>
        </div>

        <div class="section center ">
            <h4>フライパンを中火にかけてお肉を焼きます</h4>
        </div>


        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                フライパン
                サラダ油：大さじ1


                ⑤キッチンペーパーを5枚重ねでたたみ、少量の水で濡らし拭き掃除用に置く。⑥フライパンにサラダ油大さじ1入れを中火にかける。ガスは写真を参考に中火に、ＩＨは１８０℃に設定。⑦フライパンが温まったら（火をつけて1分程度）お肉を投入し、お肉を焼きます。すこし油や汁が飛びますので、覚悟してください。⑧全体に焼き色がついたら火をとめる。（写真を参照）⑨暖かいうちに飛び跳ねた汁等を拭く。
            </div>
        </div>


        <div class="section center amber-text text-darken-3">
            <h3>お皿にキャベツパックを盛り付けて、生姜焼きも盛り付ける。</h3>
        </div>

        <div class="row">
            <div class="col s12 m5">
                <img src="../static/img/don.jpg" alt="" class="responsive-img">
            </div>

            <div class="col s12 m7">
                お皿
                千切りキャベツパック：好きなだけ
                マヨネーズ（好みのドレッシング）：分量外

                ⑩お皿に千切りキャベツを盛り付け、焼きあがったお肉を寄り添わせるように盛る。キャベツにマヨネーズを添えて、完成です！
            </div>
        </div>

        <img src="img/mainvisual.jpg,quality=70,type=jpg" alt="" class="responsive-img">

        <!-- python連携。作れたボタンを押すと、Complete.htmlへ画面遷移します -->
        <form action="/complete" method="POST" class="center">
                <label>
                    <!-- python連携。作れたボタンを押すと、DBのcourse_statusに反映されます -->
                    <!-- name=name固定、valueはコースに合わせて値を変える -->
                    <input type="hidden" name="name" value="1">
                    <input type="submit" value="豚肉生姜焼きを作れた！！" / class="btn-large amber darken-2">
                </label>
        </form>


    </main>

    <footer class="page-footer amber darken-2">
        <!-- <div class="container"> -->
          <!-- <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">TOPへ戻る</a>
          </div>
        </div>
      </footer>


</body>

</html>
{% endblock %}