{% block content %}



<div>
  <p>
    -------------------------<br>
    soup.html<br>
    ここは「味噌汁コース」の画面です。<br>
    -------------------------<br>
    <ul>
      <!-- 非ログイン -->
      {% if user_id == 0 %}
      <li>ゲストさん</li>
      <!-- ログイン -->
      {% else %}
      <li>{{user_info}}さん</li>
      <li>レベル：{{user_status}}／{{course_num}}（{{user_rate}}％）</li>
      {% endif %}
     </ul>
    -------------------------<br>
    
    <!-- チェックボタン：お味噌汁=2 -->

    <!-- <p>※レベルアップボタン（レベル値取れるけど毎回リロードしちゃう）</p>
    <form action="/level" method="POST">
      <input type="hidden" name="name" value="2">
      <input type="submit" name="check" value="できました" /><br>
    </form> -->
    

    <!-- 完成おめでとうボタン -->
    <br>
    <form action="/complete" method="POST">
      <!-- name=name固定、valueはコースに合わせて値を変える：お味噌汁=2 -->
      <input type="hidden" name="name" value="2">
      <input type="submit" value="味噌汁を作れた！！" />
    </form>
    -------------------------<br>
    
  </p>
</div>

{% endblock %}